.menu li a, .menu li a:hover, .marca:hover img, .marca:hover, .marca img, .marca {
  transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

body {
    margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
    }
.header {
  width: 100%;
  height: 200px;
  background:	#f1f1f1;
  position: relative;
}
.menu {
  width: 100%;
  height: 50px;
  background: #2F4F4F;
  position: absolute;
  bottom: 0;
}
.menu ul {
  padding: 0;
  width: 700px;
  margin: 0 auto;
}
.menu li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}
.menu li a {
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

}
.menu li a:hover {
    background: white;
    color: black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
}
.subcontainer{
  width: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.marca{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 7px;
  width: 24%;
  margin: 0.5%;
  height: 150px;
  background: white;
}
.marca:hover{
  background: #F1F1F1;
}
.marca:hover img {
  -webkit-transform: matrix(1.582,0,0,1.482,0,0);
  -moz-transform: matrix(1.582,0,0,1.482,0px,0px);
  -ms-transform: matrix(1.582,0,0,1.482,0,0);
  -o-transform: matrix(1.582,0,0,1.482,0,0);
  transform: matrix(1.582,0,0,1.482,0,0);
}
.marca img{
    width: 30%;
}
.marcaVehiculo{
width: 100%;
text-align: center;
}
.marcaVehiculo img{
width: 10%;
margin: 25px;
}
.vehiculos{
  width: 24%;
  margin: 0.5%;
  background: white;
}
.vehiculos h3, h4{
  align-items: flex-start;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
}
.vehiculos h4{
  color: gray;
}
.vehiculos img{
  margin-bottom: 7%;
  width: 100%;
}
